<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Formulario Categoria</title>
</head>
<body>
<h1>Formulario de categor&iacute;as</h1>
<form th:action="@{/categorias/save}" method = "POST">
  <label for="fname">Nombre</label><br>
  <input type="text" id="nombre" name="nombre" value="" placeholder="Nombre"><br>
  <label for="lname">Descripci&oacute;n</label><br>
  <input type="text" id="descripcion" name="descripcion" value="" placeholder="Descripci&oacute;n"><br><br>
  <input type="submit" value="Guardar">
</form>
</body>
</html>