<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<!-- Custom styles for this template -->
<link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
<link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
</head>
<body>
	<header th:insert="fragments/menu :: menu-principal"> </header>
	
	<h1>Lista de vacantes</h1>

</body>
<footer th:insert="fragments/footer :: footer" class="footer">

</footer>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/tinymce/tinymce.min.js}"></script>
</html>